body {
    padding: 5px;
    /* min-width: fit-content; */
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Raleway', serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0px
}

h2 {
    font-family: 'Raleway', serif;
    font-weight: normal;
    margin: 0px;
    font-size: 1.2rem;
}

p {

}

.panel {
    border-radius: 25px;
    background: #f7f7f7;
    margin: 10px;
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: #616161;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1rem;
    transition: all 0.13s linear;
    margin: auto 2.5% auto 2.5%;
}

.link:hover {
    font-size: 1.10rem;
    color: #000000;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block1{
    text-align: center;
    padding: 30px;
    flex-grow: 1;
}

.role {
    font-family: 'Raleway', serif;
    color: #3d3d3d;
    font-size: 1rem
    ;border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 25px 0 30px; 
}

.role span { 
     background:#f7f7f7; 
     padding:0 10px;
 }
 
.techstackfrontend {
    font-family: 'Raleway', serif;
    color: #126e82;
    font-size:0.9rem;
    margin-bottom: 0;
}

.techstackmiddlelayer {
    font-family: 'Raleway', serif;
    color: #1f1f1f;
    font-size:0.9rem;
    margin-bottom: 0;
}

.techstackbackend {
    font-family: 'Raleway', serif;
    color: #845460;
    font-size:0.9rem;
    margin-bottom: 0;
}

.block2{
    padding: 30px;
    flex-grow: 4;
    text-align: center;
}