/* experimental designs below */

.background-video{
	position: fixed;
	height: 100vh;
	width: 100%;
	object-fit: cover;
	/* height: 100vh; */
	z-index: -2;
}

.background-overlay{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.589);
	height: 100vh;
	width: 100%;
	z-index: -1;
}

.fade-in-quick { 
	animation: fadeIn ease 1s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
}

.fade-in-slow { 
	animation: fadeIn ease 5s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
}

h1, h2, h3, h4, h5 {
    color: rgb(240, 246, 255);
}

.brand {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    z-index: 10;
}

.introduction-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn { 
	0% { 
		opacity: 0;
	} 
	100% { 
		opacity: 1; 
	}
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}