body {
    padding: 5px;
    /* min-width: fit-content; */
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Raleway', serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0px
}

h2 {
    font-family: 'Raleway', serif;
    font-weight: normal;
    margin: 0px;
    font-size: 1.2rem;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto
}

.panel {
    border-radius: 25px;
    background: #f7f7f7;
    margin: 15px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 5px 10px 2px #a5a5a580;
}

.navbar {
    height: 50px;
    padding: 0px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: #616161;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1rem;
    transition: all 0.13s linear;
    margin: auto 2.5% auto 2.5%;
}

.link:hover {
    font-size: 1.10rem;
    color: #000000;
}

.myname-container {
    height: 25vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myname-box {
    height: auto;
    width: 90%;
    text-align: center;
}

.myname {
    font-family: 'Roboto', cursive;
    font-size: 1.8rem;
    margin: 10px;
}

.jobrole {
    font-family: 'Raleway', serif;
    color: #3d3d3d;
    font-size: 1rem;
    margin: 10px 0px 0px 0px; 
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
 
.techstackfrontend {
    font-family: 'Raleway', serif;
    color: #126e82;
    font-size:0.9rem;
    margin-bottom: 0;
}

.techstackmiddlelayer {
    font-family: 'Raleway', serif;
    color: #1f1f1f;
    font-size:0.9rem;
    margin-bottom: 0;
}

.techstackbackend {
    font-family: 'Raleway', serif;
    color: #845460;
    font-size:0.9rem;
    margin-bottom: 0;
}

.block{
    flex-grow: 1;
}

@media screen and (min-width: 769px) {
    .maincontainer   {
      width: 70vw;
    }
    .myname {
        font-size: 2.5rem;
    }

  }
