.carousel .item {
	height: 100%;
	border-style: solid;
}

.carousel-inner .carousel-item {
	transition: -webkit-transform 2s ease;
	transition: transform 2s ease;
	transition: transform 2s ease, -webkit-transform 2s ease;
}

.carousel-control-prev, .carousel-control-next { visibility: visible;}	


.projectcar {
	padding:35px;
}


@media (max-width: 768.999999px) {
    .col-md-4 {
    	min-height: 33.3333333%;
        height: 33.3333333%;
    } 
	.split-to-side {
		width: 50%;
		height: 100%;
	}
}

/* experimental designs below */

.background-video{
	position: fixed;
	height: 100vh;
	width: 100%;
	object-fit: cover;
	/* height: 100vh; */
	z-index: -2;
}

.background-overlay{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.589);
	height: 100vh;
	width: 100%;
	z-index: -1;
}

.fade-in-fade-out { 
	animation: fadeInAnimation ease 5s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
}