body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Raleway', serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0px
}

h2 {
    font-family: 'Raleway', serif;
    font-weight: normal;
    margin: 0px;
    font-size: 1.2rem;
}

.top-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient( #ace9eb ,#ffffff);
    padding-top: 5px;
}

.maincontainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto
}

.nav-container {
    display: flex;
    width: 100%;
    position: fixed;
    top: 5px;
    z-index: 1;
}

.nav-panel {
    border-radius: 25px;
    background: #f7f7f7;
    /* background: #eff6fa; */
    margin: 15px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);    
}

.panel {
    border-radius: 25px;
    background: #f7f7f7;
    margin: 15px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.navbar {
    height: 50px;
    padding: 0px 25px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow:1;
}

.link {
    color: #616161;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1rem;
    transition: all 0.13s linear;
    margin: auto 25px;
}

.link:hover {
    font-size: 1.10rem;
    color: #000000;
}

.myname-container {
    height: 20vh;
    margin: 3em 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.surrounding-brackets {
    font-size: 7em;    
    font-family: sans-serif;    
    color: #b5d4ddd3;
}

.myname-box {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5px;
}

.myname {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #000000;
    margin: 12px 0px 0px 0px;
}

.jobrole {
    font-family: 'Raleway', serif;
    color: #3d3d3d;
    font-size: 1rem;
    margin: 10px 0px 0px 0px; 
}


/* flippity flip */

p {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', serif;
    margin: 0px 5px;
  }
  
  .child1 {
    perspective: 300px;
  }
  
  .content {
    color: white;
  }
  
  .incard {
    text-align: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    animation: flip 3.5s infinite alternate;
  }
  
  .cardfront {
    background-color: white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
  }
  
  .cardback {
    background-color: black;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateY(-50%) rotateX(180deg);
    -webkit-transform: translateY(-50%) rotateX(180deg);
  }
  
  @keyframes flip {
    0% {transform: rotateX(0deg);}
    10% {transform: rotateX(0deg);}
    15% {transform: rotateX(-15deg);}
    20% {transform: rotateX(0deg);}
    90% {transform: rotateX(555deg);}
    100% {transform: rotateX(540deg);}
  }

  /* flippity flip ends */

.blurb {
    text-align: center;
}

ul {
    list-style-type:none;
    padding:0px;
    margin:5px;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    top: 29px;
    z-index: 1;
    text-align: left;
    font-size: 1rem;
}

.stuff {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    position: relative;
}

.stuff:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext:hover {
    visibility: visible;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
 
.techstackfrontend {
    font-family: 'Raleway', serif;
    color: #126e82;
    font-size:0.9rem;
    margin-bottom: 0;
}

.techstackmiddlelayer {
    font-family: 'Raleway', serif;
    color: #1f1f1f;
    font-size:0.9rem;
    margin-bottom: 0;
}

.techstackbackend {
    font-family: 'Raleway', serif;
    color: #845460;
    font-size:0.9rem;
    margin-bottom: 0;
}

.block{
    flex-grow: 1;
}

.make-it-slow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
  }
  
  /* Transition to a bigger shadow on hover */
  .make-it-slow:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

@media screen and (min-width: 769px) {
    .container   {
      width: 70vw;
    }
    .myname {
        font-size: 3rem;
        margin: 20px 0 0 0;
    }
    .surrounding-brackets {
        font-size: 10em;
    }
    .panel:hover {
        transform: scale(1.042, 1.042);
        box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    }
  }

  @media screen and (min-width: 500px) {
    .nav-container {
        flex-direction: row-reverse;
    }
    .navbar {
        width: 300px;
        flex-grow: 0;
    }
  }
